//MEDIA QUERY MANAGER

/*
0 - 600: Phone
600 - 900: Tablet portrait
900 - 1200: Tablet landscape
1200 - 1800: Normal styles
1800+ : Big Desktop
1em = 16px
The smaller device rules always should write below the bigger device rules
Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component
*/

@mixin respond($breakpoint) {

	@if($breakpoint == "phone") { 

		@media only screen and (max-width: 575px) { @content; } 
    } 
    
    @if($breakpoint == "phone-land") {

        @media only screen and (max-width: 767px) { @content; }
    }

	@if($breakpoint == "tab-port") {

		@media only screen and (max-width: 991px) { @content; } 
	}

	@if($breakpoint == "tab-land") {

		@media only screen and (max-width: 1199px) { @content; } 
    }
    
    @if ($breakpoint == "desktop") {
        
        @media only screen and (min-width: 1200px) { @content; }
    }
	
	@if($breakpoint == "big-desktop") {

		@media only screen and (min-width: 1800px) { @content; } 
	}

}



//don't use it untill you need this too much
@mixin custommq($min: null, $max: null) {
    @if ($min != null and $max != null) {
        @media only screen and (min-width: $min) and (max-width: $max) { @content; }
    }

    @if ($min == null and $max != null) {
        @media only screen and (max-width: $max) { @content; }
    }

    @if ($min != null and $max == null) {
        @media only screen and (min-width: $min) { @content; }
    }
}

@mixin media-breakpoint-up($breakpoint) {
    @if $breakpoint == xs {
        @media (min-width: 0) { @content; }
    }
    @else if $breakpoint == sm {
        @media (min-width: 576px) { @content; }
    }
    @else if $breakpoint == md {
        @media (min-width: 768px) { @content; }
    }
    @else if $breakpoint == lg {
        @media (min-width: 992px) { @content; }
    }
    @else if $breakpoint == xl {
        @media (min-width: 1200px) { @content; }
    }
}

@mixin media-breakpoint-down($breakpoint) {
    @if $breakpoint == xs {
        @media (max-width: 575.98px) { @content; }
    }
    @else if $breakpoint == sm {
        @media (max-width: 767.98px) { @content; }
    }
    @else if $breakpoint == md {
        @media (max-width: 991.98px) { @content; }
    }
    @else if $breakpoint == lg {
        @media (max-width: 1199.98px) { @content; }
    }
    @else if $breakpoint == xl {
        @media (max-width: 1399.98px) { @content; }
    }
}

@mixin media-breakpoint-between($min, $max) {
    @if $min == sm and $max == md {
        @media (min-width: 576px) and (max-width: 991.98px) { @content; }
    }
    @else if $min == md and $max == lg {
        @media (min-width: 768px) and (max-width: 1199.98px) { @content; }
    }
    @else if $min == xs and $max == sm {
        @media (min-width: 0) and (max-width: 767.98px) { @content; }
    }
    // Thêm các trường hợp khác nếu cần
}
